.title-section{
    text-align: center;
    margin: 10vh;
}


/* debut section intro */

.intro{
    display: flex;
    flex-direction: column;
}

.image-intro{
    filter: brightness(0.5);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://usercontent.one/wp/kirileonard.com/wp-content/uploads/2020/07/LTL_intro_tavern_robin_web.jpg");
    height: 100vh;
}

.text-intro{
    color: white;
    position: absolute;
    top: 20%;
    left: 25%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

h1{
    color:#ff9b22;
}

button{
    color: white;
    border: 2px solid #ff9b22;
    background-color: transparent;
    padding: 16px 32px;
    font-size: 20px;
    width: 30vh;
    height: 8vh;
}

.button2{
    color: white;
    border: 2px solid #ff9b22;
    background-color: transparent;
    padding: 0;
    width: 15vh;
    height: 4vh;
    font-size: 1rem;

}

button:hover{
    background-color: #ff9b22;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* fin section intro */


/* debut section resume */

.resume1 {
    display: flex;
    align-items: center;
    margin: 10vh auto;
    width: 50%;
    justify-content: space-evenly;
}

.resume-img{
    width: 20vw;
    height: auto;
}

.resume-section{
    display: flex;
    flex-direction: column;
    align-items: left;
}

hr{
    border: 1px solid #ff9b22;
    width: 70%;
}

/* fin section resume */

/* debut section personnage */

.personnage-list{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

/* fin section personnage */

