<div id="intro" class="intro">
    <div class="image-intro"></div>
    <div class="text-intro">
        <h1 class="titre-intro">Les Mercenaires de l'aube écarlate</h1>
        <p class="paragraphe-intro">
          Bienvenu dans le monde des Terres des gardiens, <br>
          un monde fantastique peuplé de nombreuses créatures de tout horizons, <br>
          rempli de magie et de mystère
        </p>
        <button routerLink="/intro">Voir Introduction</button>
    </div>
  </div>
  <div id="resume" class="resume">
    <h1 class="title-section">Résumé</h1>
    <div class="resume1">
        <img class="resume-img" src="https://i.pinimg.com/originals/14/1e/05/141e052c67182cdab738d6bc1d6147e4.jpg" alt="">
        <div class="resume-section">
            <h2>Titre</h2>
            <p>paragraph</p>
            <button class="button2">Lire la suite</button>
        </div>
    </div>
    <hr>
    <div class="resume1">
        <div class="resume-section">
            <h2>Titre</h2>
            <p>paragraph</p>
            <button class="button2">Lire la suite</button>
        </div>
        <img class="resume-img" src="https://i.pinimg.com/originals/14/1e/05/141e052c67182cdab738d6bc1d6147e4.jpg" alt="">
    </div>
    <hr>
  </div>
  <div id="personnages" class="personnages">
    <h1 class="title-section">Personnages</h1>
    <div class="personnage-list">
      <app-pj></app-pj>
    </div>
  </div>
  <div id="pnj" class="pnj"></div>
  <div id="lieux" class="lieux"></div>