<nav>
  <div class="logo">
      <h4 routerLink="/main">JDR</h4>
  </div>
  <ul class="nav-links">
    <a routerLink="intro">Introduction</a>
    <a routerLink="resume">Résumé</a>
    <a routerLink="pj">Personnages</a> 
    <a routerLink="pnj">PNJ</a>
    <a routerLink="lieux">Lieux</a> 

  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
<router-outlet></router-outlet>