<div class="card">
    <img class="card-img" src="https://www.aidedd.org/assets/adj/pretires/img/roublard-nain.jpg" alt="personnage">
    <div class="card-container">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p> 
    </div>
</div>