.card {
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgb(160, 160, 160);
    transition: 0.3s;
    width: 300px;
    height: fit-content;
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(160,160,160);
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    padding: 2px 16px;
  }

  .card-img{
    width: 100%;
    height: auto;
  }